.button {
  border: none;
  padding: 12px 32px;
  border-radius: 99999px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.button.filled {
  background: #FF5617;
  color: white;
  box-shadow: 1px 1px 4px rgba(255, 86, 23, 1);
  position: relative;
  outline: 0;
  transition: all 250ms linear;
}

.button.filled:hover, .button.filled:focus {
  transform: translateY(-2px);
  box-shadow: 1px 1px 8px rgba(255, 86, 23, 1);
}

.button.filled:disabled,
.button.filled:disabled:hover {
  background: grey;
  box-shadow: none;
  cursor: not-allowed;
  transform: none;
}
