.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .badge {
    display: block;
    margin: 8px 0;
    text-align: center;
  }
}
