.container {
  margin: 20px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.16);
  transition: box-shadow 200ms linear;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-family: Robot, sans-serif;
}

.container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.20);
}

.price, .name, .container {
  font-family: Roboto, sans-serif;
}

.image {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.footer {
  margin: 22px 18px;
  display: flex;
  justify-content: space-between;
}

.footer > div:last-child {
  min-width: 70px;
}

.priceSub {
  margin-top: 5px;
  color: #777;
  font-size: 14px;
  white-space: nowrap;
}
