.outerContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  max-width: 1200px;
  width: 100%;
  background: #fff;
  grid-template-columns: 1.5fr 2fr;
  margin: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content > div:first-child {
  padding: 30px;
}

.content h1 {
  font-size: 32px;
}

.content p {
  margin-top: 20px;
  color: #7e7d7e;
}

.priceOuter {
  margin-top: 20px;
}

.type {
  margin-top: 5px;
}

.type a {
  color: #793acc;
}

.price span {
  color: #ff6026;
  font-size: 24px;
  font-weight: bold;
  margin-right: 4px;
}

.price {
  font-size: 28px;
  font-weight: bold;
}

.priceOuter div:last-child {
  color: #7e7d7e;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
